<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="CodeJam.PerfTests" type="CodeJam.PerfTests.Configs.PerfTestsSection, CodeJam.PerfTests"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>

	<CodeJam.PerfTests
		Platform="X64"
		AnnotateSources="false"
		IgnoreExistingAnnotations="false"
		ReportWarningsAsErrors="false"
		TroubleshootingMode="false" />
</configuration>
