<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="CodeJam.PerfTests" type="CodeJam.PerfTests.Configs.PerfTestsSection, CodeJam.PerfTests" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>

	<CodeJam.PerfTests Platform="X64" AnnotateSources="false" IgnoreExistingAnnotations="false" PreviousRunLogUri="https://ci.appveyor.com/api/projects/ig-sinicyn/codejam-examples/artifacts/CodeJam.Examples.PerfTests.ImportantOnly.PerfTests.log?all=true" ReportWarningsAsErrors="false" TroubleshootingMode="false" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
